body {
    background-color: #111;
    color: white;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boids-canvas {
    grid-area: canvas;
    border: 1px solid #555;
    width: 100%;
}

#app {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "canvas canvas";

    @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-areas: "canvas";
    }
}